---
layout: splash
title: "Verdade Proibida"
excerpt: "Resistindo, informando e denunciando a Nova Ordem Mundial"
permanlink: /
author_profile: false
header:
  overlay_image: /assets/images/dark-triangles.png
  overlay_filter: rgba(135, 51, 46, 0.75)
intro:
- excerpt: 'Seja notificado via email sobre novos artigos, assine a VP Newsletter'
feature_row:
- image_path: assets/images/bg-blur.jpg
  alt: "placeholder image 1"
  title: "Artigos"
  excerpt: "This is some sample content that goes here with **Markdown** formatting."
  url: "/artigos/"
  btn_label: "Ver mais"
  btn_class: "btn btn--primary"
- image_path: /assets/images/bg-blur.jpg
  alt: "placeholder image 2"
  title: "Categorias"
  excerpt: "This is some sample content that goes here with **Markdown** formatting."
  url: "/categorias/"
  btn_label: "Ver mais"
  btn_class: "btn btn--primary"
- image_path: /assets/images/bg-blur.jpg
  title: "Tags"
  excerpt: "This is some sample content that goes here with **Markdown** formatting."
  url: "/tags/"
  btn_label: "Ver mais"
  btn_class: "btn btn--primary"
---

{% include feature_row id="intro" type="center" %}

{% include feature_row %}
